* {
  color: white;
  font-size: .83em;
}

input {
  color: initial;
}

@media screen and (min-width: 480px) {
  * {
    font-size: .89em;
  }
}

@media screen and (min-width: 768px) {
  * {
    font-size: .92em;
  }
}

@media screen and (min-width: 1024px) {
  * {
    font-size: 1em;
  }
}

.hidden {
  display: none;
}

.container {
  background-color: #011F12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#cli-wrapper {
  background-color: black;
  border: 1px solid silver;
  border-radius: .5%;
  padding: .5%;
  height: 95%;
  width: 95%;
}

#cli-wrapper * {
  color: #0CE964;
  font-family: 'Courier New';
}

.cli-history-item {
  white-space: pre-wrap;
}

#cli-input {
  display: flex;
  flex-direction: row;
}

#cli-input input[type="text"]{
  background-color: inherit;
  border: inherit;
  flex: 1;
}

#cli-input input[type="text"]:focus {
  outline: inherit;
}

#graph > canvas {
  width: 100vw;
}