* {
  color: white;
  font-size: .85em;
}

@media screen and (min-width: 480px) {
  * {
    font-size: .91em;
  }
}

@media screen and (min-width: 768px) {
  * {
    font-size: .94em;
  }
}

@media screen and (min-width: 1024px) {
  * {
    font-size: 1em;
  }
}

.container {
  background-color: #011F12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#cli-wrapper {
  background-color: black;
  border: 1px solid silver;
  border-radius: .5%;
  padding: .5%;
  height: 95%;
  width: 95%;
}

#cli-wrapper * {
  color: #0CE964;
  font-family: 'Courier New';
}

.cli-history-item {
  white-space: pre-wrap;
}

#cli-input {
  display: flex;
  flex-direction: row;
}

#cli-input input[type="text"]{
  background-color: inherit;
  border: inherit;
  flex: 1;
}

#cli-input input[type="text"]:focus {
  outline: inherit;
}

#resume-wrapper {
  padding: .5%;
  width: 95%;
}

#resume-header {
  display: flex;
  flex-direction: row;
  height: 11em;
  justify-content: space-between;
}

#resume-header-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .5em;
  width: 100%;
}

#resume-header-controls * {
  font-size: 100%;
}

.resume-email-clicked {
  color: #80b696 !important;
}

#resume-header-controls *:hover {
  color: #0CE964;
  cursor: pointer;
}

#resume-header-name {
  font-size: 3.75em;
}

#resume-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#resume-content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  width: 75%;
}

#resume-body {
  display: flex;
  flex-direction: column;
}

#resume-body > div {
  margin: 1em 0;
}

#resume-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.resume-skill {
  border: 1px solid white;
  border-radius: 10%;
  margin: .25em;
  padding: .15em .25em;
}

#resume-sidebar {
  max-width: 75%;
  width: 25%;
  /* background-color: mistyrose; */
}

.resume-contact-item-header {
  font-weight: bold;
}

.experience {
  margin: 1em 0;
}